.container {
  height: 100vh;
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.themeSwitch {
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--text-secondary);
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
